// --------------------
// COLORS
// --------------------

$color_primary: #000;
$color_on-primary-1: rgba(255, 255, 255, 0.9);
$color_on-primary-1-light: rgb(125,127,126);
$color_on-primary-2: rgb(184,53,41);
$color_on-primary-2-variant: rgb(252,59,41);

$color_primary-light: #fff;
$color_on-primary-light: #000;